input {
  border: none;
}

:root {
  --color-btn-bg-start: #fafafa;
  --color-btn-bg-end: #222;
  --color-btn-font-start: #222;
  --color-btn-font-end: #fafafa;
  --btn-border-start: 0.4rem solid #222;
  --btn-border-end: #444;
}

main {
  height: 100vh;
}
header,
footer {
  background-color: #222;
  color: #fafafa;
}

header {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  padding: 4rem;
}

footer {
  padding: 2rem;
}

main section {
  padding: 2rem;
}
main section h2 {
  font-size: 3rem;
  padding: 2rem;
}
main section ul li {
  background-color: var(--color-btn-bg-start);
  color: var(--color-btn-font-start);
  text-align: center;
  max-width: 40%;
  border: var(--btn-border-start);
  border-radius: 10rem;
  margin: 2rem auto;
  padding: 2rem;
  font-size: 2rem;
  font-weight: bolder;
}
/* ANIMATIONS */
ul li:nth-child(1) {
  transform: scale(1);
  transition: transform 0.8s 0.4s, background-color 0.4s 0.2s;
}
ul li:nth-child(1):hover {
  transform: scale(1.15);
  background-color: var(--color-btn-bg-end);
  color: var(--color-btn-font-end);
}
ul li:nth-child(2) input {
  border: 0.4rem solid blue;
  border-radius: 10rem;
  padding: 0.4rem 1rem;
  transition: 1s;
}
ul li:nth-child(2) input:focus {
  border: 0.4rem solid violet;
}
ul li:nth-child(2) input:not(:focus):invalid {
  background: red;
}
ul li:nth-child(2) input:focus:valid {
  border: 0.4rem solid green;
}

ul li:nth-child(n + 3) {
  border-radius: 1rem;
}
ul li div {
  height: 8rem;
  width: 8rem;
  margin: 0 auto;
  border-radius: 0.1rem;
  background-color: #2ecc71;
}

ul li:nth-child(3) div:hover {
  transform: scale(4, 0.4);
}
ul li:nth-child(3) div {
  transition: transform 1s ease-in-out;
}

ul li:nth-child(4) div:hover {
  transform: translate(4em, -1rem);
}
ul li:nth-child(4) div {
  transition: transform 0.4s ease-in-out;
}
ul li:nth-child(5) div:hover {
  transform: scale(1);
}
ul li:nth-child(5) div {
  transform: scale(0.2);
  transition: transform 330ms ease-in-out;
}
ul li:nth-child(5) div span {
  transform: translateY(250%);
  transition: transform 280ms ease-out 50ms;
}
