:root {
  --color-default: #bdc3c7;
  --color-primary: #3498db;
  --color-event: #d35400;
  --color-background: #000;
  --color-: #d35400;
  --color-event: #d35400;
}
body {
  background-image: url(/assets/01.jpg);
}
header{
  display: block;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-default);
  text-align: center;
  padding: 1rem;
}
ul {
  display: block;
  margin: 10rem;
  border: solid grey;
  background: aliceblue;
}
ul > h3{
    background-color: var(--color-background);
    color: var(--color-default);
    text-align: center;
    margin: 0;
    padding: 1rem;
}
img {
   padding: 1rem;
    max-width: 100%;
    height: 100%;
    
}
.c1{
  display: block;
    width: 100%;
}
.c2{
    width: calc(100% / 2);
    float: left;
}
.c3{
    width: calc(100% / 3);
    float: left;
}