html {
  font-style: 62.5%;
}

body {
  font: 1.6rem sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
ol,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

header {
  line-height: 6.5rem;
  background-color: rgb(5, 59, 83);
  margin-bottom: 5rem;
  color: #fff;
}

header h1 {
  text-align: center;
  columns: #fff;
}
section {
  min-width: 60%;
  background-color: #fafafa;
  padding: 1rem;
  margin: 0 auto;
}
section h2 {
  line-height: 4.5rem;
  color: #fff;
  text-align: center;
  background-color: #222;
}
section p {
  line-height: 2.6rem;
}
